<div class="container">
	<div class="row my-3">
		<div class="col-md-4 my-3">
			<div class="card bg-primary">
				<div class="card-body card__dark rounded">
					<div class="card-text">
						<i class="fas fa-search fa-2x"></i>
						<p>Search for your club</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 my-3">
			<div class="card bg-primary">
				<div class="card-body card__light rounded">
					<div class="card-text">
						<i class="fas fa-check fa-2x"></i>
						<p>Choose your court</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 my-3">
			<div class="card bg-primary">
				<div class="card-body card__dark rounded">
					<div class="card-text">
						<i class="fas fa-calendar-check fa-2x"></i>
						<p>Book and enjoy</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-4 my-3">
			<div class="card bg-primary">
				<div class="card-body card__light rounded">
					<div class="card-text">
						<i class="fas fa-star fa-2x"></i>
						<p>Wide variety of courts</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 my-3">
			<div class="card bg-primary">
				<div class="card-body card__dark rounded">
					<div class="card-text align-middle">
						<i class="fas fa-dollar-sign fa-2x"></i>
						<p>Free account</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 my-3">
			<div class="card bg-primary">
				<div class="card-body card__light rounded">
					<div class="card-text">
						<i class="fas fa-lightbulb fa-2x"></i>
						<p>Simplicity of use</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>