<footer class="footer">
    <div class="container">
        <div class="row">
  
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                  <ul>
                      <li class="title"><p>Loyalty programs</p></li> 
                      <li class="item"><a href="https://www.kartamultisport.pl/" target="_blank">Multi Sport</a></li>
                      <li class="item"><a href="https://www.oksystem.pl/" target="_blank">OK System</a></li>
                      <li class="item"><a href="https://www.fitflex.pl/" target="_blank">Fit Flex</a></li>
                      <li class="item"><a href="https://www.fitprofit.pl/" target="_blank">Fit Profit</a></li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <ul>
                      <li class="title"><p>YouTennis</p></li>
                      <li class="item"><a routerLink="/terms-and-conditions">Terms & conditions</a></li>
                      <li class="item"><a routerLink="/about">About</a></li>
                      
                  </ul>
              </div>
              <div class="col-md-4">
                  <ul>
                      <li class="title"><p>Contact</p></li>
                      <li class="item"><i class="fas fa-phone"></i><p>+48 123 456 789</p></li>
                      <li class="item"><i class="fas fa-envelope"></i><p>info@youtennis.com</p></li>
                      <li class="item"><i class="fas fa-map-marked"></i><p>ul. Poznańska 1, 12-345 Poznań</p></li>
                  </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
</footer>