<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>New Court</h3>
    <form [formGroup]="newForm" (ngSubmit)="onSubmit()">
      <div class="form-group">

        <label>City</label>
        <input type="text" formControlName="city" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />

        <label>Zip code</label>
        <input type="text" formControlName="zipCode" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }" />

        <label>Street</label>
        <input type="text" formControlName="street" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.street.errors }" />

        <label>Street number</label>
        <input type="text" formControlName="streetNumber" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.streetNumber.errors }" />

        <label>Hour price</label>
        <input type="text" formControlName="hourPrice" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.hourPrice.errors }" />

        <label>Image</label>
        <input type="text" formControlName="image" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.image.errors }" />

      </div>
     
      <div class="form-group">
        <button class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>