<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" (select)="onDateSelect($event)" [minDate]="today"></ngb-datepicker>

<div class="row">
  <div *ngFor="let item of slots | async">
    <button type="d-flex justify-content-center button" class="btn btn-primary" [class.btn-success]="isSelected(item)"
      [disabled]="!isLogged() || !item.isAvailable" (click)="setHour(item)">{{item.time}}</button>
  </div>
</div>
<div class="row">
  <div><button type="d-flex justify-content-center button" class="btn btn-primary"
      [disabled]="!isLogged() || !selectedSlot" (click)="book()">Save</button></div>
</div>